*{
    font-family: 'Roboto', sans-serif;
}


/*SVGS COLOR*/
.stsquare{fill:#BBBCBF;}






.slick-prev, .slick-next {
    z-index: 2;
    width: 40px;
}

.slick-prev {
    left: 62px !important;
}

.slick-next{
    right: 62px !important;
}

.slick-prev::before, .slick-next::before {
    content: "" !important;
}


p{
    color:#081f2d
}
.accordion-spacer{
    margin: 16px 0px;
    padding-top: 1em;
}

.space-down{
    margin-top: 23%;
}

.expo-results{
    margin-top: -13%;
}

.mytxt{
    margin-top: -33%;
    text-align: center;
    color: white;
}

.mytxt h1{
    font-size: 53px;
    font-weight: bold;
}

.mytxt h3{
    font-weight: 300;
    margin-bottom: 2em;
}

.card{
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.card-body{
    padding-top: 0px !important;
    margin-top: -11px;
}
.card ul {
    margin: 0;
    padding: 0px;
}
.card ul li{
    box-shadow: 0 4px 8px 0 rgba(227,227,227,1);
    transition: 0.3s;
    list-style: none;
    padding: 10px 28px;
    border-radius: 22px;
    background-color: white;
    
    margin: 9px 0px;

}

.card ul li p{
    margin: 0px !important;
}

.card ul li::before{
    color: #00CBD3;
    content: " ";
    height: 17px;
    background-color: #00CBD3;
    display: inline-block;
    width: 17px;
    margin-left: -7%;
    margin-top: 2%;
    position: absolute;
    border-radius: 100%;
}

.btn-father{
    background-color: #00CBD3;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    width: 90%;
    font-size: 23px;
    border-radius: 30px; 
}

.accordion-btn{
    background-color: #00CBD3;
    padding: 0px 20px;
    color: white !important;
    text-decoration: none !important;
    font-weight: 700;
    font-size: 21px;
    display: block;
    border-radius: 30px;
    width: 100%;
}

.btn-father:after{
    content: url(../img/plus.svg);
    color: #fff;
    height: 42px;
    background-color: #001929;
    display: block;
    width: 44px;
    font-size: 23px;
    padding-left: 6px;
    padding-top: 4px;
    margin-left: 84%;
    margin-top: -36px;
    position: absolute;
    border-radius: 100%;

}


.btn-father.changed:after{
    content: url(../img/minus.svg);
    color: #fff;
    height: 42px;
    background-color: #001929;
    display: block;
    width: 44px;
    font-size: 23px;
    padding-left: 6px;
    padding-top: 4px;
    margin-left: 84%;
    margin-top: -36px;
    position: absolute;
    border-radius: 100%;

}

.collapse {
    margin-top: 1em;
}

#subtext{
    margin-top: 2em;
    margin-left: 1.2em;
    width: 46%;
}

.call-to-action{
    background-color: #00CBD3;
    color: white;
    padding: 6px 17px;
    border-radius: 15px;
}

.call-to-action.fat{
    padding: 10px 47px;
    border-radius: 20px;
}

/*.questionsList ul li::marker{
    color: #00CBD3;
}*/
.questionsList ul li{
    list-style: none;
    background-color: white;
    margin-bottom: 0.6em;
    padding: 6px;
    color:#081f2d;
    border-radius: 46px;
    box-shadow: 10px 5px 1px #E7E7E7;
}

#questionsimage{
    margin-top: -7em;
}
.questionsList ul li::before{
    color: #00CBD3;
    content: " ";
    height: 13px;
    background-color: #00CBD3;
    display: inline-block;
    width: 13px;
    margin-left: -2.5%;
    border-radius: 100%;
    margin-right: 3%;
}

.bartitle{
    border-left: solid #00CBD3;
    padding-left: 1em;
}
.bartitle span{
    font-size: 45px;
    line-height: 40px;
}

#wholescreen{
    margin-top: -80px;
}

#wholescreenwave{
    margin-top: -16%;
    position: relative;
}

.navbar {
    z-index: 99999;
}

.nav-link{
    padding: .2rem 1rem !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,.navbar-light .navbar-nav .nav-link{
    font-weight: 500;
    color: white !important;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #00B4BB !important;
    border-bottom: solid 3px;
}

.thebigpill{
    background-color: #001929;
    border-radius: 136px;
    box-shadow: 17px 13px 0px #00CBD3;
    padding: 3em;
}

.thebigpill .thelist ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    list-style: none;
}

#thecomputer{
    max-width: 82%;
    margin-bottom: -3em;
    z-index: 999999;
    position: relative;
}

.pills{
    margin-bottom: -1em;
}

.pills li{
    display: inline-block;
    list-style: none;
    margin: 8px 0px;
    color: #B4B4B4;
    padding: 4px 23px;
    border-radius: 15px;
    background-color: #fff;
}

.pills li.selected{
 color:white;
 font-weight: bold;
 background-color:#00CBD3;
}

#belowtabs{
    margin-top: 14%;
}

.btn-center{
    display: block;
    width: 300px;
}


#theblocks{
    margin-top: 26%;
}

.squares {
    margin-top: -1em;
    margin-left: 3em;
}
.squares li{
    display: inline-block;
    list-style: none;
    text-align: center;
  
}


.squares li svg{
    background-color: white;
    padding: 11px;
    height: 70px !important;
    width: 70px !important;
    border-radius: 20px;
}

.squaretxt{
    color: white !important;
    margin: 0px !important;
} 

.squares li.selected svg{
    background-color: #00CBD3;
}

.squares li.selected svg .stsquare{
    fill: #001929 !important
}



.screenbanners .slick-prev {
    left: -65px !important;
    width: 50px;
    background-color: #00CBD3 !important;
    border-radius: 100px;
} 

.screenbanners .slick-next {
    right: -65px !important;
    width: 50px;
    background-color: #00CBD3 !important;
    border-radius: 100px;
} 


#whitesnake {
    margin-top: -25%;
}

#form-sender {
    padding: 7px 51px !important;
    border-radius: 20px !important;
}

input.form-control {
    box-shadow: 0 5px 5px 0 rgba(179, 179, 179, 0.5)
}

.form-control {
    border-radius: 26px !important;
   
}

.form-group {
    margin-bottom: 9px !important;
}

footer{
    background-image: url(../img/meediaonne-onepage-bgfooter.png);
    max-width: 100%;
    height: 800px;
    margin-top: -16em;
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .container{
    padding-top: 29em;
}

#lastmenu li {
display: inline-block;
margin: 1px 6px;
}

#lastmenu{
    padding: 0px 10px;
}
#lastmenu li a {
    color: #001929 !important
}

.footer-title{
    color: #00CBD3;
    font-weight: bold;
    margin-top: 1em;
}

footer span{
    color: #001929;
}

footer .infosfooter{
    color: #001929;
    margin-right: 14px;
}

footer .infosfooter:last-of-type:before{
    content: "";
    height: 11px;
    background-color:#00CBD3;
    display: block;
    width: 11px;
    font-size: 23px;
    margin-right: 14px;
    display: inline-block;
    border-radius: 100%;
}