@font-face {
    font-family: 'fonte-regular';
    src: url('/assets/fonts/Lato-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'fonte-bold';
    src: url('/assets/fonts/Lato-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'fonte-black';
    src: url('/assets/fonts/Lato-Black.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'fonte-light';
    src: url('/assets/fonts/Lato-Light.ttf');
    font-display: swap;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

#logo {
    height: 34px;
}

#logo_footer {
    height: 30px;
}

.top-banner {
    background: url("/assets/img/banner-index.jpg") no-repeat center center;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

.row-top-banner {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center
}

.top-banner-title p {
    color: #f2f2f2;
    letter-spacing: 5px;
}

.top-banner-title span {
    color: #f2f2f2;
    letter-spacing: 5px;
}

.top-banner-title-inner-title-text-medium {
    font-family: 'fonte-regular';
    font-size: 45px;
    margin-bottom: 0px !important;
}

.top-banner-title-inner-title-text-black {
    font-family: 'fonte-black';
    color: #30E8F4 !important;
    font-size: 53px;
    margin-bottom: 0px !important;
}

.first_color::first-letter {
    color: #f2f2f2 !important;
    font-family: 'fonte-regular';
}

.top-banner-sub-title {
    margin-top: 20px;
}

.top-banner-sub-title p {
    font-family: 'fonte-light';
    font-size: 22px;
    margin-bottom: 0 !important;
    letter-spacing: 2px;
}

.top-banner-channels {
    margin-top: 50px;
    padding-bottom: 20px;
}

.top-banner-channels p {
    font-family: 'fonte-regular';
    font-size: 17px;
    letter-spacing: 1px;
}

.top-banner-channels img {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 1.5rem !important;
}

.top-banner-form {
    background: #0B202C !important;
    border-radius: 25px;
}

.top-banner-form-inner {
    padding: 15px;
}

.top-banner-form-inner-text {
    padding-top: 20px;
}

.top-banner-form-inner-text_1 {
    font-family: 'fonte-light';
    font-size: 21px;
}

.top-banner-form-inner-text_2 {
    font-family: 'fonte-bold';
    font-size: 1.6rem;
}

.top-banner-form p {
    color: #f2f2f2;
    width: 100%;
}

.form-register label {
    font-family: 'fonte-light';
    width: 100%;
    color: #f2f2f2;
}

.form-register input::placeholder {
    font-family: 'fonte-light';
}

#btn-submit {
    font-family: 'fonte-regular';
    background: #A81313;
    color: #f2f2f2;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    height: 46px;
}

.buttons_lp {
    font-family: 'fonte-regular';
    background: #A81313;
    color: #f2f2f2;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    width: 252px;
    height: 46px;
}

#btn_action_mobile {
    display: none;
}

.section-title {
    font-family: 'fonte-regular';
}

.card-title {
    font-family: 'fonte-light';
    height: 100px !important;
    width: 250px !important;
}

.card-text {
    font-family: 'fonte-regular';
    height: 70px !important;
    width: 200px !important;
}

.card {
    border-radius: 0.8rem !important;
}

.underline {
    width: 3rem;
    height: .2rem;
    background-color: #4DC1CB;
    margin: 0 auto;
    border: 0;
}

.card-background {
    background-color: #f2f2f2 !important;
}

.card-background2 {
    background-color: #FFFFFF !important;
}

.img-footer {
    background: url("/assets/img/ondas-footer.png") no-repeat;
    background-size: cover;
    height: 130px;
}

.footer-text {
    background-color: #0B202C !important;
}

.footer-text p {
    color: #f2f2f2 !important;
    font-family: 'fonte-light';
    font-size: 17px;
}

.footer_title {
    font-family: 'fonte-regular' !important;
}

.footer_margin {
    margin-bottom: 3rem !important;
}

.footer_address p {
    margin-bottom: 0.1rem !important;
}

.social {
    padding-left: 0;
}

.social li {
    display: inline;
    font-size: 30px;
}

i:before {
    color: #f2f2f2;
}

/*safari*/
@media not all and (min-resolution: .001dpcm) {

    .top-banner-title-inner-title-text-medium {
        font-size: 44px !important;
    }
}

/*hack window*/
@media only screen and (min-width: 990px) and (max-width: 1090px) {
    .top-banner-title {
        margin-right: 3rem !important;
    }

}

/*tablet*/
@media only screen and (max-width: 800px) {
    #btn_action_mobile {
        display: inline;
        margin-top: 35px;
    }
}

/*mobile*/
@media only screen and (max-width: 600px) {

    #logo {
        height: 30px;
        margin-left: 10px;
    }

    #logo_footer {
        height: 24px;
    }

    .row-top-banner {
        margin-top: 80px !important;
    }

    .top-banner-title-inner-title-text-medium {
        font-size: 25px !important;
        margin-bottom: 0px !important;
    }

    .top-banner-title-inner-title-text-black {
        font-size: 31px !important;
        margin-bottom: 0px !important;
    }

    .subtitle-container {
        width: 300px;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }

    .top-banner-sub-title {
        text-align: left !important;
    }

    .top-banner-sub-title p {
        font-size: 18px !important;
    }

    .top-banner-title {
        text-align: center !important;
    }

    #btn_action_mobile {
        display: inline;
        margin-top: 35px;
    }

    .top-banner-channels {
        margin-top: 30px !important;
    }

    .section-title {
        font-size: 20px !important;
    }
}

/*LGPD MODAL*/
#privacy-pop-up {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    background-color: #ffffff;
    /* background-color: #13A0A8; */
    margin: 20px auto;
    padding: 25px;
    text-align: center;
    flex-wrap: wrap;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    max-width: 280px;
}

.cookie-banner-lgpd_text {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    line-height: 5px;
}

.cookie-banner-lgpd_text p {
    color: #0c4464;
    font-size: 14px;
    line-height: 7px;
}

.cookie-banner-title {
    font-weight: 600;
}

.cookie-banner-lgpd_text a {
    text-decoration: underline;
    color: #0c4464;
}

#exit-popup {
    text-align: center;
    color: #FFFFFF;
    background-color: #10537a;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    padding: 5px;
    line-height: normal;
    width: calc(100% - 20px);
    transition: .4s;
}

#exit-popup:hover {
    color: #fff;
    background-color: #133c53;
    transition: .4s;
}

@media (max-width: 768px) {
    #privacy-pop-up {
        bottom: 100px;
    }
}


.top-banner-title-politica{
    background: #f2f2f2 !important;
}

.politica-privacidade h1 {

}

.politica-privacidade h2 {

}

/*FIM LGPD MODAL*/


